@model HMS.Models.Appointment
<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>Add Appointment</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-elements-wrapper">
    <form method="post" asp-action="AppointmentAdd" asp-controller="Appointment">
        <div class="card-style mb-30">
            <div class="input-style-1">
                <label>Doctor Name:</label>
                <select asp-for="DoctorID" asp-items="ViewBag.DoctorList" class="form-select form-select-md">
                    <option value="">-- Select Doctor --</option>
                </select>
                <span asp-validation-for="DoctorID" class="text-danger mt-2"></span>
            </div>

            <div class="input-style-1">
                <label>Patient Name:</label>
                <select asp-for="PatientID" asp-items="ViewBag.PatientList" class="form-select form-select-md">
                    <option value="">-- Select Patient --</option>
                </select>
                <span asp-validation-for="PatientID" class="text-danger mt-2"></span>
            </div>

            <div class="input-style-1">
                <label>Appointment Date:</label>
                <input type="datetime-local" asp-for="AppointmentDate" />
                <span asp-validation-for="AppointmentDate" class="text-danger mt-2"></span>
            </div>

            <div class="input-style-1">
                <label>Status:</label>
                <select asp-for="AppointmentStatus" class="form-select form-select-md">
                    <option value="">-- Select Status --</option>
                    <option value="Scheduled">Scheduled</option>
                    <option value="Pending">Pending</option>
                </select>
                <span asp-validation-for="AppointmentStatus" class="text-danger mt-2"></span>
            </div>

            <div class="input-style-1">
                <label>Description:</label>
                <input type="text" asp-for="Description" placeholder="Enter Description" />
                <span asp-validation-for="Description" class="text-danger mt-2"></span>
            </div>

            <div class="input-style-1">
                <label>Remarks:</label>
                <input type="text" asp-for="SpecialRemarks" placeholder="Enter Remarks" />
                <span asp-validation-for="SpecialRemarks" class="text-danger mt-2"></span>
            </div>
            <div class="input-style-1">
                <label>Total Consulted Amount:</label>
                <input type="text" asp-for="TotalConsultedAmount" placeholder="Enter Total Consulted Amount" />
                <span asp-validation-for="TotalConsultedAmount" class="text-danger mt-2"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Save</button>
            <button class="btn btn-secondary ms-3 mt-2" type="reset">Cancel</button>
        </div>
    </form>
</div>
