USE [HMS]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[PatientID] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[AppointmentStatus] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[SpecialRemarks] [nvarchar](100) NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[TotalConsultedAmount] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Qualification] [nvarchar](100) NOT NULL,
	[Specialization] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorDepartment]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorDepartment](
	[DoctorDepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorDepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[State] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MobileNo] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[DoctorDepartment] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Patient] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Patient] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[DoctorDepartment]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[DoctorDepartment]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor] ([DoctorID])
GO
ALTER TABLE [dbo].[DoctorDepartment]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
/****** Object:  StoredProcedure [dbo].[sp_Appointment_Delete]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Appointment_Delete]
    @AppointmentID INT
AS
BEGIN
    DELETE FROM Appointment WHERE AppointmentID = @AppointmentID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Appointment_Insert]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Appointment_Insert]
    @DoctorID INT,
    @PatientID INT,
    @AppointmentDate DATETIME,
    @AppointmentStatus NVARCHAR(20),
    @Description NVARCHAR(250),
    @SpecialRemarks NVARCHAR(100),
    @UserID INT,
    @TotalConsultedAmount DECIMAL(5,2) = NULL
AS
BEGIN
    INSERT INTO Appointment (DoctorID, PatientID, AppointmentDate, AppointmentStatus, Description, SpecialRemarks, Created, Modified, UserID, TotalConsultedAmount)
    VALUES (@DoctorID, @PatientID, @AppointmentDate, @AppointmentStatus, @Description, @SpecialRemarks, GETDATE(), GETDATE(), @UserID, @TotalConsultedAmount)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Appointment_select]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Appointment_select]
AS
BEGIN
    SELECT A.AppointmentID, A.AppointmentDate, A.AppointmentStatus, A.Description, A.SpecialRemarks,
       A.TotalConsultedAmount, A.Created, A.Modified,
       D.Name AS DoctorName,D.Specialization AS DoctorSpecialization,P.Email AS PatientEmail,P.Name AS PatientName, U.UserName
	FROM Appointment A
	INNER JOIN Doctor D ON A.DoctorID = D.DoctorID
	INNER JOIN Patient P ON A.PatientID = P.PatientID
	INNER JOIN [User] U ON A.UserID = U.UserID
	ORDER BY A.AppointmentDate
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Appointment_selectById]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Appointment_selectById]
    @AppointmentID INT
AS
BEGIN
    SELECT 
        A.AppointmentID, 
        A.DoctorID, 
        D.Name AS DoctorName,
        A.PatientID,
        P.Name AS PatientName,
        A.AppointmentDate, 
        A.AppointmentStatus,
        A.Description, 
        A.SpecialRemarks, 
        A.TotalConsultedAmount, 
        A.Created, 
        A.Modified, 
        A.UserID,
        U.UserName,
        U.Email AS PatientEmail
    FROM Appointment A
    INNER JOIN Doctor D ON A.DoctorID = D.DoctorID
    INNER JOIN Patient P ON A.PatientID = P.PatientID
    INNER JOIN [User] U ON A.UserID = U.UserID
    WHERE A.AppointmentID = @AppointmentID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Appointment_TodaysAppointment]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[sp_Appointment_TodaysAppointment]
as
begin 
	select D.Name AS DoctorName,P.Name AS PatientName,A.AppointmentDate,A.AppointmentStatus
	from Appointment A
	inner join Doctor D on D.DoctorID=A.DoctorID
	inner join Patient P on P.PatientID=A.PatientID
	where CAST(A.AppointmentDate AS DATE) = CAST(GETDATE() AS DATE)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Appointment_Update]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Appointment_Update]
    @AppointmentID INT,
    @DoctorID INT,
    @PatientID INT,
    @AppointmentDate DATETIME,
    @AppointmentStatus NVARCHAR(50),
    @Description NVARCHAR(200),
    @SpecialRemarks NVARCHAR(200),
    @TotalConsultedAmount INT
AS
BEGIN
    UPDATE Appointment
    SET
        DoctorID = @DoctorID,
        PatientID = @PatientID,
        AppointmentDate = @AppointmentDate,
        AppointmentStatus = @AppointmentStatus,
        Description = @Description,
        SpecialRemarks = @SpecialRemarks,
		TotalConsultedAmount = @TotalConsultedAmount,
        Modified = GETDATE()
    WHERE AppointmentID = @AppointmentID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Department_Delete]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Department_Delete]
	@DepartmentID int
as
begin
	delete from Department where DepartmentID=@DepartmentID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Department_Insert]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Department_Insert]
	@DepartmentName nvarchar(100),
	@Description nvarchar(250),
	@IsActive bit = 1,
	@UserID int
as
begin
	insert into Department(DepartmentName,[Description],IsActive,Created,Modified,UserID)
	values (@DepartmentName,@Description,@IsActive,GETDATE(),GETDATE(),@UserID)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Department_Select]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Department_Select]
as 
begin
	SELECT D.DepartmentID, D.DepartmentName, D.Description, D.IsActive, D.Created, D.Modified, U.UserName
	FROM Department D
	INNER JOIN [User] U ON D.UserID = U.UserID
	ORDER BY D.DepartmentName
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Department_SelectById]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Department_SelectById]
	@DepartmentID int
as 
begin
	SELECT D.DepartmentID, D.DepartmentName, D.Description, D.IsActive, D.Created, D.Modified, U.UserName
	FROM Department D
	INNER JOIN [User] U ON D.UserID = U.UserID
	WHERE D.DepartmentID = @DepartmentID
	ORDER BY D.DepartmentName	
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Department_Update]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Department_Update]
	@DepartmentID int,
	@DepartmentName nvarchar(100),
	@Description nvarchar(250),
	@IsActive bit = 1,
	@UserID int
as
begin
	update Department set DepartmentName=@DepartmentName,[Description]=@Description,IsActive=@IsActive,Modified=GETDATE(),UserID=@UserID
	where DepartmentID= @DepartmentID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Doctor_Delete]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Doctor_Delete]
    @DoctorID INT
AS
BEGIN
    DELETE FROM Doctor WHERE DoctorID = @DoctorID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Doctor_Department_Update]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Doctor_Department_Update]
    @DoctorDepartmentID INT,
    @DoctorID INT,
    @DepartmentID INT
AS
BEGIN
    UPDATE DoctorDepartment
    SET 
        DoctorID = @DoctorID,
        DepartmentID = @DepartmentID
    WHERE DoctorDepartmentID = @DoctorDepartmentID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Doctor_Insert]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Doctor_Insert]
    @Name NVARCHAR(100),
    @Phone NVARCHAR(20),
    @Email NVARCHAR(100),
    @Qualification NVARCHAR(100),
    @Specialization NVARCHAR(100),
    @IsActive BIT = 1,
    @UserID INT
AS
BEGIN
    INSERT INTO Doctor (Name, Phone, Email, Qualification, Specialization, IsActive, Created, Modified, UserID)
    VALUES (@Name, @Phone, @Email, @Qualification, @Specialization, @IsActive, GETDATE(), GETDATE(), @UserID)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Doctor_Select]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Doctor_Select]
AS
BEGIN
    SELECT D.DoctorID, D.Name, D.Phone, D.Email, D.Qualification, D.Specialization, D.IsActive, D.Created, D.Modified, U.UserName
	FROM Doctor D
	INNER JOIN [User] U ON D.UserID = U.UserID
	ORDER BY D.Name
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Doctor_SelectById]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Doctor_SelectById]
    @DoctorID INT
AS
BEGIN
    SELECT D.DoctorID, D.Name, D.Phone, D.Email, D.Qualification, D.Specialization, D.IsActive, D.Created, D.Modified, U.UserName
	FROM Doctor D
	INNER JOIN [User] U ON D.UserID = U.UserID
	WHERE D.DoctorID = @DoctorID
	ORDER BY D.Name
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Doctor_Update]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Doctor_Update]
    @DoctorID INT,
    @Name NVARCHAR(100),
    @Phone NVARCHAR(20),
    @Email NVARCHAR(100),
    @Qualification NVARCHAR(100),
    @Specialization NVARCHAR(100),
    @IsActive BIT,
    @UserID INT
AS
BEGIN
    UPDATE Doctor
    SET Name = @Name,
        Phone = @Phone,
        Email = @Email,
        Qualification = @Qualification,
        Specialization = @Specialization,
        IsActive = @IsActive,
        Modified = GETDATE(),
        UserID = @UserID
    WHERE DoctorID = @DoctorID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoctorDepartment_GetDropdownData]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DoctorDepartment_GetDropdownData]
AS
BEGIN
    -- First result set: All doctors
    SELECT DoctorID, Name AS DoctorName FROM Doctor;

    -- Second result set: All departments
    SELECT DepartmentID, DepartmentName FROM Department;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoctorDepartment_Insert]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DoctorDepartment_Insert]
    @DoctorID INT,
    @DepartmentID INT,
    @UserID INT
AS
BEGIN
    INSERT INTO DoctorDepartment (DoctorID, DepartmentID, Created, Modified, UserID)
    VALUES (@DoctorID, @DepartmentID, GETDATE(), GETDATE(), @UserID)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoctorDepartment_SelectByID]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DoctorDepartment_SelectByID]
    @DoctorDepartmentID INT
AS
BEGIN
    SELECT DoctorDepartmentID, DoctorID, DepartmentID, UserID
    FROM DoctorDepartment
    WHERE DoctorDepartmentID = @DoctorDepartmentID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoctorDepartment_SelectByUserID]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DoctorDepartment_SelectByUserID]
AS
BEGIN
    SELECT 
        dd.DoctorDepartmentID,
		dd.DoctorID,    
        dd.DepartmentID,  
        doc.Name AS DoctorName,
        dept.DepartmentName
    FROM 
        DoctorDepartment dd
    INNER JOIN Doctor doc ON doc.DoctorID = dd.DoctorID
    INNER JOIN Department dept ON dept.DepartmentID = dd.DepartmentID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoctortoDepartment_Delete]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_DoctortoDepartment_Delete]
    @DoctorDepartmentID INT
AS
BEGIN
    DELETE FROM DoctorDepartment WHERE DoctorDepartmentID = @DoctorDepartmentID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Patient_Delete]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Patient_Delete]
    @PatientID INT
AS
BEGIN
    DELETE FROM Patient WHERE PatientID = @PatientID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Patient_Insert]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Patient_Insert]
    @Name NVARCHAR(100),
    @DateOfBirth DATETIME,
    @Gender NVARCHAR(10),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(100),
    @Address NVARCHAR(250),
    @City NVARCHAR(100),
    @State NVARCHAR(100),
    @IsActive BIT = 1,
    @UserID INT
AS
BEGIN
    INSERT INTO Patient (Name, DateOfBirth, Gender, Email, Phone, Address, City, State, IsActive, Created, Modified, UserID)
    VALUES (@Name, @DateOfBirth, @Gender, @Email, @Phone, @Address, @City, @State, @IsActive, GETDATE(), GETDATE(), @UserID)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Patient_Update]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Patient_Update]
    @PatientID INT,
    @Name NVARCHAR(100),
    @DateOfBirth DATETIME,
    @Gender NVARCHAR(10),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(100),
    @Address NVARCHAR(250),
    @City NVARCHAR(100),
    @State NVARCHAR(100),
    @IsActive BIT,
    @UserID INT
AS
BEGIN
    UPDATE Patient
    SET Name = @Name,
        DateOfBirth = @DateOfBirth,
        Gender = @Gender,
        Email = @Email,
        Phone = @Phone,
        Address = @Address,
        City = @City,
        State = @State,
        IsActive = @IsActive,
        Modified = GETDATE(),
        UserID = @UserID
    WHERE PatientID = @PatientID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Patients_Select]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Patients_Select]
AS
BEGIN
    SELECT P.PatientID, P.Name, P.DateOfBirth, P.Gender, P.Email, P.Phone, P.Address, P.City, P.State,
       P.IsActive, P.Created, P.Modified, U.UserName
	FROM Patient P
	INNER JOIN [User] U ON P.UserID = U.UserID
	ORDER BY P.Name
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Patients_SelectById]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Patients_SelectById]
    @PatientID INT
AS
BEGIN
    SELECT P.PatientID, P.Name, P.DateOfBirth, P.Gender, P.Email, P.Phone, P.Address, P.City, P.State,
       P.IsActive, P.Created, P.Modified, P.UserID
	FROM Patient P
	WHERE P.PatientID = @PatientID
	ORDER BY P.Name

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Update]
    @DoctorDepartmentID INT,
    @DoctorID INT,
    @DepartmentID INT
AS
BEGIN
    UPDATE DoctorDepartment
    SET 
        DoctorID = @DoctorID,
        DepartmentID = @DepartmentID
    WHERE DoctorDepartmentID = @DoctorDepartmentID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_Login]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_User_Login]
    @Email NVARCHAR(100),
    @Password NVARCHAR(100)
AS
BEGIN
    SELECT Email, Password 
    FROM [User]
    WHERE Email = @Email AND Password = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Users_Delete]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Users_Delete]
	@UserId INT
as 
begin
	delete from [User] where UserID=@UserId
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Users_Insert]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_Users_Insert]
	@UserName NVARCHAR(100),
    @Password NVARCHAR(100),
    @Email NVARCHAR(100),
    @MobileNo NVARCHAR(100),
    @IsActive BIT = 1
as
begin
	insert into [User](UserName,Password,Email,MobileNo,IsActive,Modified)
	values(@UserName,@Password,@Email,@MobileNo,@IsActive,GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Users_Select]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_Users_Select]
as
begin
	select [UserID],[UserName],[Password],[Email],[MobileNo],[IsActive],[Created],[Modified]
	from [User]
	ORDER BY UserName
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Users_SelectById]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_Users_SelectById]
	@userid int
as
begin
	select UserID, UserName, Password, Email, MobileNo, IsActive, Created, Modified from [User] where UserID = @userid
	ORDER BY UserName
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Users_Update]    Script Date: 30-07-2025 10.32.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Users_Update]
    @UserID INT,
    @UserName NVARCHAR(100),
    @Password NVARCHAR(100),
    @Email NVARCHAR(100),
    @MobileNo NVARCHAR(100),
    @IsActive BIT
AS
BEGIN
    UPDATE [User]
    SET UserName = @UserName,Password = @Password,Email = @Email,MobileNo = @MobileNo,IsActive = @IsActive,Modified = GETDATE()
    WHERE UserID = @UserID
END
GO
