<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HMS.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/css/lineicons.css" />
    <link rel="stylesheet" href="~/assets/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body>
    <aside class="sidebar-nav-wrapper">
        <div class="navbar-logo">
            <a asp-controller="Admin" asp-action="AdminDashboard">
                <img src="~/assets/images/logo/logo.bmp" alt="logo" />
            </a>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li class="nav-item">
                    <a asp-controller="Admin" asp-action="AdminDashboard">
                        <span class="icon"><i class="lni lni-hospital"></i></span>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item nav-item-has-children">
                    <a href="#0"
                       class="collapsed"
                       data-bs-toggle="collapse"
                       data-bs-target="#ddmenu_department"
                       aria-controls="ddmenu_department"
                       aria-expanded="false"
                       aria-label="Toggle navigation">
                        <span class="icon"><i class="lni lni-network"></i></span>
                        <span class="text">Department</span>
                    </a>
                    <ul id="ddmenu_department" class="collapse dropdown-nav">
                        <li>
                            <a asp-controller="Department" asp-action="Index"> Department List </a>
                        </li>
                        <li>
                            <a asp-controller="Department" asp-action="DepartmentAdd"> Add Department </a>
                        </li>
                        @* <li>
                            <a asp-controller="Department" asp-action="DepartmentEdit"> Edit Department </a>
                        </li> *@
                    </ul>
                </li>
                <li class="nav-item nav-item-has-children">
                    <a href="#0"
                       class="collapsed"
                       data-bs-toggle="collapse"
                       data-bs-target="#ddmenu_doctor"
                       aria-controls="ddmenu_doctor"
                       aria-expanded="false"
                       aria-label="Toggle navigation">
                        <span class="icon"><i class="lni lni-capsule"></i></span>
                        <span class="text">Doctor</span>
                    </a>
                    <ul id="ddmenu_doctor" class="collapse dropdown-nav">
                        <li><a asp-controller="Doctor" asp-action="Index">Doctor List</a></li>
                        <li><a asp-controller="Doctor" asp-action="DoctorAdd">Add Doctor</a></li>
                        @* <li><a asp-controller="Doctor" asp-action="DoctorEdit">Edit Doctor</a></li> *@
                    </ul>
                </li>

                <li class="nav-item nav-item-has-children">
                    <a href="#0"
                       class="collapsed"
                       data-bs-toggle="collapse"
                       data-bs-target="#ddmenu_patient"
                       aria-controls="ddmenu_patient"
                       aria-expanded="false"
                       aria-label="Toggle navigation">
                        <span class="icon"><i class="lni lni-user"></i></span>
                        <span class="text">Patient</span>
                    </a>
                    <ul id="ddmenu_patient" class="collapse dropdown-nav">
                        <li><a asp-controller="Patient" asp-action="Index">Patient List</a></li>
                        <li><a asp-controller="Patient" asp-action="PatientAdd">Add Patient</a></li>
                        @* <li><a asp-controller="Patient" asp-action="PatientEdit">Edit Patient</a></li> *@
                    </ul>
                </li>

                <li class="nav-item nav-item-has-children">
                    <a href="#0"
                       class="collapsed"
                       data-bs-toggle="collapse"
                       data-bs-target="#ddmenu_appointment"
                       aria-controls="ddmenu_appointment"
                       aria-expanded="false"
                       aria-label="Toggle navigation">
                        <span class="icon"><i class="lni lni-calendar"></i></span>
                        <span class="text">Appointment</span>
                    </a>
                    <ul id="ddmenu_appointment" class="collapse dropdown-nav">
                        <li><a asp-controller="Appointment" asp-action="Index">Appointment List</a></li>
                        <li><a asp-controller="Appointment" asp-action="AppointmentAdd">Add Appointment</a></li>
                        @* <li><a asp-controller="Appointment" asp-action="AppointmentEdit">Edit Appointment</a></li> *@
                    </ul>
                </li>

                <li class="nav-item nav-item-has-children">
                    <a href="#0"
                       class="collapsed"
                       data-bs-toggle="collapse"
                       data-bs-target="#ddmenu_docdept"
                       aria-controls="ddmenu_docdept"
                       aria-expanded="false"
                       aria-label="Toggle navigation">
                        <span class="icon"><i class="lni lni-sthethoscope"></i></span>
                        <span class="text">Doctor Department</span>
                    </a>
                    <ul id="ddmenu_docdept" class="collapse dropdown-nav">
                        <li><a asp-controller="DoctorDepartment" asp-action="Index">Doctor Dept List</a></li>
                        <li><a asp-controller="DoctorDepartment" asp-action="DoctorDepartmentAdd">Add Doctor Dept</a></li>
                        @* <li><a asp-controller="DoctorDepartment" asp-action="EditDoctorDepartment">Edit Doctor Dept</a></li> *@
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="overlay"></div>
    <main class="main-wrapper">
        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-6">
                        <div class="header-left d-flex align-items-center">
                            <div class="menu-toggle-btn mr-20">
                                <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                                    <i class="lni lni-chevron-left me-2"></i> Menu
                                </button>
                            </div>
                            <div class="header-search d-none d-md-flex">
                                <form>
                                    <input type="text" placeholder="Search..." />
                                    <button><i class="lni lni-search-alt"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-6">
                        <div class="header-right">
                            <div class="profile-box ml-15">
                                <button class="dropdown-toggle bg-transparent border-0" type="button" id="profile"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="profile-info">
                                        <div class="info">
                                            <h6>Nikhil Rathod</h6>
                                            <div class="image">
                                                <img src="~/assets/images/profile/user.png" alt="" />
                                                <span class="status"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="lni lni-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
                                    <li>
                                        <a href="#"><i class="lni lni-exit"></i> Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="section">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </section>

        <footer class="footer mt-auto ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 order-last order-md-first text-center text-md-start">
                        <p class="text-sm">© 2025 Nikhil Rathod</p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
                        <p class="text-sm me-3">Terms & Conditions</p>
                        <p class="text-sm">Privacy & Policy</p>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/assets/js/polyfill.js"></script>
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
