<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HMS.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/css/lineicons.css" />
    <link rel="stylesheet" href="~/assets/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body>
    <!-- ======== sidebar-nav start ===========  -->
    <aside class="sidebar-nav-wrapper">
        <div class="navbar-logo">
            <a asp-controller="Admin" asp-action="AdminDashboard">
                <img src="~/assets/images/logo/logo.bmp" alt="logo" />
            </a>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li class="nav-item">
                    <a asp-controller="Admin" asp-action="AdminDashboard">
                        <span class="icon"><i class="lni lni-hospital"></i></span>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Department" asp-action="Index">
                        <span class="icon"><i class="lni lni-briefcase"></i></span>
                        <span class="text">Department</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Doctor" asp-action="Index">
                        <span class="icon"><i class="lni lni-capsule"></i></span>
                        <span class="text">Doctor</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Patient" asp-action="Index">
                        <span class="icon"><i class="lni lni-user"></i></span>
                        <span class="text">Patient</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Appointment" asp-action="Index">
                        <span class="icon"><i class="lni lni-calendar"></i></span>
                        <span class="text">Appointment</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="DoctorDepartment" asp-action="Index">
                        <span class="icon"><i class="lni lni-sthethoscope"></i></span>
                        <span class="text">Doctor Department</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="overlay"></div>
    <!-- ======== sidebar-nav end =========== -->
    <main class="main-wrapper">
        <!-- ========== header start ========== -->
        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-6">
                        <div class="header-left d-flex align-items-center">
                            <div class="menu-toggle-btn mr-20">
                                <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                                    <i class="lni lni-chevron-left me-2"></i> Menu
                                </button>
                            </div>
                            <div class="header-search d-none d-md-flex">
                                <form>
                                    <input type="text" placeholder="Search..." />
                                    <button><i class="lni lni-search-alt"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-6">
                        <div class="header-right">
                            <div class="profile-box ml-15">
                                <button class="dropdown-toggle bg-transparent border-0" type="button" id="profile"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="profile-info">
                                        <div class="info">
                                            <h6>Nikhil Rathod</h6>
                                            <div class="image">
                                                <img src="~/assets/images/profile/user.png" alt="" />
                                                <span class="status"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="lni lni-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
                                    <li>
                                        <a href="#"><i class="lni lni-exit"></i> Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ========== header end ========== -->

        <section class="section">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </section>

        <!-- ========== footer start =========== -->
        <footer class="footer mt-auto ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 order-last order-md-first text-center text-md-start">
                        <p class="text-sm">© 2025</p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
                        <p class="text-sm me-3">Terms & Conditions</p>
                        <p class="text-sm">Privacy & Policy</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ========== footer end =========== -->
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/assets/js/polyfill.js"></script>
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
