<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Doctor Department List</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <a href="/DoctorDepartment/DoctorDepartmentAdd" class="btn btn-primary ms-5">+ Add Doctor Department</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <div class="table-wrapper table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th>Doctor Name</th>
                                        <th>Department Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Courtney Henry</td>
                                        <td>abc</td>
                                        <td>
                                            <div class="action">
                                                <a asp-action="DoctorDepartmentEdit" asp-controller="DoctorDepartment" asp-route-id="1" class="text-dark">
                                                    <i class="lni lni-pencil"></i>
                                                </a>
                                                <button class="ms-2 text-danger">
                                                    <i class="lni lni-trash-can"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr> 
                                    <tr>
                                        <td>Courtney Henry</td>
                                        <td>abc</td>
                                        <td>
                                            <div class="action">
                                                <a asp-action="DoctorDepartmentEdit" asp-controller="DoctorDepartment" asp-route-id="1" class="text-dark">
                                                    <i class="lni lni-pencil"></i>
                                                </a>
                                                <button class="ms-2 text-danger">
                                                    <i class="lni lni-trash-can"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr> 
                                    <tr>
                                        <td>Courtney Henry</td>
                                        <td>abc</td>
                                        <td>
                                            <div class="action">
                                                <a asp-action="DoctorDepartmentEdit" asp-controller="DoctorDepartment" asp-route-id="1" class="text-dark">
                                                    <i class="lni lni-pencil"></i>
                                                </a>
                                                <button class="ms-2 text-danger">
                                                    <i class="lni lni-trash-can"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Courtney Henry</td>
                                        <td>abc</td>
                                        <td>
                                            <div class="action">
                                                <a asp-action="DoctorDepartmentEdit" asp-controller="DoctorDepartment" asp-route-id="1" class="text-dark">
                                                    <i class="lni lni-pencil"></i>
                                                </a>
                                                <button class="ms-2 text-danger">
                                                    <i class="lni lni-trash-can"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            <!-- end table -->
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>
        </div>
        <!-- ========== tables-wrapper end ========== -->
    </div>
</section>
