@model HMS.Models.Department
<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            @if (TempData["Message"] != null)
            {
                <div class="d-flex justify-content-end">
                    <div class="alert alert-success" id="sucMessage">@TempData["Message"]</div>
                </div>
            }
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>Add Department</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-elements-wrapper">
    <form method="post" asp-action="DepartmentAdd" asp-controller="Department">
        <div class="card-style mb-30">
            <div class="input-style-1">
                <label>Department Name: </label>
                <input type="text" asp-for="DepartmentName" placeholder="Enter Department Name"/>
                <span asp-validation-for="DepartmentName" class="text-danger mt-2"></span>
            </div>
            <div class="input-style-1">
                <label>Description: </label>
                <input type="text" asp-for="Description" placeholder="Enter Department Description"/>
                <span asp-validation-for="Description" class="text-danger mt-2"></span>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Save</button>
            <button class="btn btn-secondary ms-3 mt-2" type="reset">Cancel</button>
        </div>
    </form>
</div>

<script>
    setTimeout(() => {
        var msg = document.getElementById("sucMessage");
        if (msg) {
            msg.style.display = "none";
        }
    }, 3000);
</script>


