<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>Add Department Information</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-elements-wrapper">
    <form method="post" asp-action="DepartmentAdd" asp-controller="Department">
        <div class="card-style mb-30">
            <div class="input-style-1">
                <label>Department Name: </label>
                <input type="text" placeholder="Enter Department Name" />
            </div>
            <div class="input-style-1">
                <label>Description: </label>
                <input type="text" placeholder="Enter Department Description" />
            </div>
            <button class="btn btn-primary mt-2">Save</button>
            <button class="btn btn-secondary ms-3 mt-2">Cancel</button>
        </div>
    </form>
</div>




