<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>Edit Doctor Information</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-elements-wrapper">
<form>
        <div class="card-style mb-30">
            <div class="input-style-1">
                <label>Name : </label>
                <input type="text" placeholder="Enter Name" />
            </div>
            <div class="input-style-1">
                <label>Phone No : </label>
                <input type="text" placeholder="Enter Phone" />
            </div>
            <div class="input-style-1">
                <label>Email : </label>
                <input type="text" placeholder="Enter Email" />
            </div>
            <div class="input-style-1">
                <label>Qualification : </label>
                <input type="text" placeholder="Enter Qualification" />
            </div>
            <div class="input-style-1">
                <label>Specialization : </label>
                <input type="text" placeholder="Enter Specialization" />
            </div>
            <button class="btn btn-primary mt-2">Save</button>
            <button class="btn btn-secondary ms-3 mt-2">Cancel</button>
        </div>
</form>
</div>

